aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
cssselect
dataclasses-json
distro
faiss-cpu
feedfinder2
feedparser
filelock
frozenlist
gitdb
GitPython
h11
httpcore
httpx
httpx-sse
idna
jieba3k
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
lxml
lxml_html_clean
markdown-it-py
MarkupSafe
marshmallow
mdurl
multidict
mypy_extensions
narwhals
newspaper3k
nltk
numpy
openai
orjson
packaging
pandas
pillow
propcache
protobuf
pyarrow
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
requests-file
requests-toolbelt
rich
rpds-py
sgmllib3k
six
smmap
sniffio
soupsieve
SQLAlchemy
streamlit
tenacity
tiktoken
tinysegmenter
tldextract
toml
tornado
tqdm
typing-inspect
typing-inspection
typing_extensions
tzdata
urllib3
yarl
zstandard